<div class=" popup generate_email_popup">
    <h1> Preview Page</h1>
    <a href="" data-ng-click='previewPagePopup()' class="right icons-normal icons-close" id="close"></a>

    <div class="width_fix left margin_T10 height_400"> 
        <div class='button_wrap right'>

            <input class='bg-blue button_common margin_R5' type='button'data-ng-click='showsendEmailPopup()' value='Send Mail'/>
            <input class='bg-blue icon-print button_common' type='button'data-ng-click='Print()' value='Print'/>

        </div>

        <div style=" float:left; margin:150px0; width:100%; text-align: center; font-size:25px; font-weight:bold;"> To Be Done </div>
    </div>
</div>






