
    <div class="header_wrap">
        <div class="logo"></div>
        <div class="right">
            <ul class="user_vav">
                <li><span class="left">User Name</span> <span class="left icon-user_nav icon_user-img"></span><a href="#" class=" right icon-user_nav icon-arrow_dropdown"></a></li>
                <li><a href="#" class="icon-user_nav icon-more"></a></li>
                <li><a href="#" class="icon-user_nav icon-help"></a></li>
            </ul>
        </div>
    </div>
        
        <div class="main_container">
            <div class="navigation">
                <ul>
                    <li class="active"> <a href="#quotes" class="icons_navigation  icon-quotes"></a> <a href="#quotes" class="title">Quotes</a> </li>
                    <li> <a href="#orders" class="icons_navigation  icon-orders"></a> <a href="#" class="title">Orders</a> </li>
                    <li> <a href="#" class="icons_navigation  icon-jobs"></a> <a href="#" class="title">Jobs</a> </li>
                    <li> <a href="#" class="icons_navigation  icon-purchase"></a> <a href="#" class="title">Purchase</a> </li>
                    <li> <a href="#" class="icons_navigation  icon-warehouse"></a> <a href="#" class="title">Warehouse</a> </li>
                    <li> <a href="#" class="icons_navigation  icon-inventary"></a> <a href="#" class="title">Inventory</a> </li>
                    <li> <a href="#" class="icons_navigation  icon-accounts"></a> <a href="#" class="title">Accounts</a> </li>
                </ul>
                <span class="left"><img src="images/anilo.png" width="90" height="72" alt="#"/></span> </div>

            <div class="right_column">
                <!--## Dynamic Content ##-->
                <div ng-view ></div>
                <!--## Dynamic Content End ##-->
            </div>
        </div>
        <div class="footer"><span class="right">&copy; Anillo Industries INC </span> </div>
        <div id="fade" class="black_overlay"></div>
        
        
        <!-- // End Wrapper -->
        